*{
    margin: 0;
    padding:0 ;

}

body{
    background-color:#548586 ;
    text-align: center;
}
.container{
    height:  70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:45vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin ;

}

.box{
    height: 15vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
}

#reset-btn{
    padding: 1rem;
    font-size:1.25rem;
    background-color: #191913;
    color: #1fff;
    border-radius: 1rem;
    border: none;

}

#new-btn{
    padding: 1rem;
    font-size:1.25rem;
    background-color: #191913;
    color: #1fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: rgb(250, 250, 136);
    font-size: 5vmin;
}
.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}